@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  font-family: "FiraCode Semibold", "Nerd Font Icons";
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: @background;
  transition-property: background-color;
  transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  padding: 0px 1px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  color: @textcolor1;
}

#workspaces button {
  border: 0px;
  color: @textcolor3;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @textcolor1;
  background: @selection;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @textcolor1;
  background: @workspacesbackground2;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @background;
  opacity:0.9;
  padding:20px;
  margin: 12px 0;
  font-size: 14px;

}

tooltip label {
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: @backgroundlight;
  margin: 10px 15px 10px 0px;
  padding: 2px 10px 0px 10px;
  color:@textcolor2;
  font-size:14px;
  font-weight:normal;
}

window#waybar.empty #window {
  background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background: @backgroundlight;
  margin: 6px 15px 6px 0px;
  padding:0px;
  font-weight: normal;
  font-style: normal;
  border: 3px solid @backgroundlight;
}

#taskbar button {
  margin:0;
  padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
  padding: 0 12px;
  font-size: 20px;
  font-weight: bold;
  color: @iconcolor;
}

#custom-settings {
  padding: 0 12px;
}

#custom-hyprshade {
  padding: 0 12px;
}

#custom-hypridle {
  padding: 0 12px;
}

#custom-hypridle.active {
  color: @iconcolor;
}

#custom-hypridle.notactive {
  color: @red;
}

#custom-waybarthemes,#custom-system {
  padding: 0 12px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  padding: 0 12px;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  padding: 0 12px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: @red;
}


/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin-right: 15px;
  font-size:20px;
  color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  font-size: 12px;
  color: @textcolor2;
  padding: 0 12px;
}

#custom-updates.green {
  background-color: @comment;
}

#custom-updates.yellow {
  background-color: @cyan;
}

#custom-updates.red {
  background-color: @orange;
}


/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  font-size: 14px;
  padding: 0 12px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 12px;
  padding: 0 12px;
}


#network, #disk,#memory,#cpu,#language,#keyboard-state {
  background: @comment;
  font-size: 12px;
  padding: 0 12px;
}

#mpris {
  font-size: 12px;
  padding: 0 12px;
  background-color: @comment;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
  background-color: @backgroundlight;
  font-size: 14px;
  color: @textcolor2;
  padding: 0 12px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}


/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  margin:0px 10px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#network {
  background-color: @purple;
}

#network.disconnected {
  background-color: @red;
}

